html,body { min-height: 100%;

}
.container{
    background-color: lightgoldenrodyellow;
    width: 100%;
    min-height:100%; 
    position: relative;
}

header{
    background-color: #999999;
}
main{   
    margin-right: 21%;
    margin-left: 21%;
    padding-left: 5px;
    padding-right: 5px;  
}
aside{
    float: right;
    width: 20%;
    background-color:blue; 
    position: static;   
}
section{
    width: 20%;
    float: left;
    background-color: #998877;
    position: static; 
      
}
form label{
    margin-top: 10px; 
    text-align: right;
    width: 100px;
    float: left;
    clear:left;
    padding-right:10px;
}

input, textarea {
    margin-top: 10px;
    display:block;
}
#faqSubmit{
    margin-left: 110px;
}
.floatleft{
    float: left;
}
nav{
    position: sticky;
	top: 0px;
	z-index:1;
    width: 100%;
	float: left;
    background: #999999;  
}
dl dt{
    color: slateblue;
    font-weight: bold;
    font-size: 20px;
}

/* Menu Styles */

.third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
    background: #999999;
}
.third-level-menu > li:hover { background: #CCCCCC; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: #999999;
}
.second-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: #999999;
}
.top-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #000000; }

@media only screen and (max-width: 1024px) {
    main { margin-left: 0; }
    h1 { font-size: 120%; color: #ff8800; }
    p { font-size: 90%; }
    section { display: none;}
    figure { display: none;}
    img{display: none;}
}

@media only screen and (max-width: 768px) {
    main { margin-left: 0;}
    h1 { font-size: 120%; color: #ff8800; }
    p { font-size: 90%; }
    section { display: none;}
    aside {display: none;}
    figure { display: none;}
    img{display: none;}
}